@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

header div > .active {
  color: yellow;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="file"]::file-selector-button {
    @apply p-2 border-none rounded-md bg-darkThree/20 cursor-pointer active:scale-95 active:translate-y-1;
  }

  /* Login and sign up page styles */
  .inputParent {
    @apply flex flex-col relative;
  }

  .inputBox {
    @apply bg-transparent border-[1px] border-slate-500 p-4 rounded-md outline-none;
  }

  .inputBox:valid,
  .inputBox:focus {
    @apply border-primaryColor;
  }

  .inputBox ~ span {
    @apply absolute text-slate-500 p-4 uppercase tracking-wide pointer-events-none;
  }

  .inputBox:valid ~ span,
  .inputBox:focus ~ span {
    @apply py-[3px] bg-primaryColor transform translate-x-5 -translate-y-3 text-sm tracking-normal text-white;
  }

  /* Login page Captcha styles*/
  #captcha > div {
    @apply flex items-center gap-x-3;
  }

  /* Dashboard menu styles */
  #dashboard_menu > div button {
    @apply flex items-center;
  }
  #dashboard_menu > div button > span {
    @apply min-w-7 min-h-6 flex items-center;
  }

  #dashboard_menu div .active button {
    @apply text-white;
  }
}
